:root {
    --dark-violet-color: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    --very-dark-violet:hsl(270, 9%, 17%);
    --dark-grayish-violet:hsl(273, 4%, 51%);
    --light-gray:hsl(0, 0%, 98%);
  }
*{
    font-family: 'Karla', sans-serif;
    margin: 0;
}



/* Header */
nav.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8%;
    background-color: var(--light-gray);
}
.header .collapse-items{
    display: flex;
    align-items: center;
}
.header-nav{
    list-style: none;
    display: inline-flex;
}
.header-nav li a{
    padding: 0 24px;
    text-decoration: none;
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
}
.header-nav li a:hover{
    color: hsl(270, 9%, 17%);
}
.action-btn{
    padding: 8px 24px;
    border: 2px solid hsl(270, 9%, 17%);
    border-radius: 2px;
    color: hsl(270, 9%, 17%);
    font-size: 16px;
    margin-left: 32px;
    text-transform: uppercase;
    background-color: var(--light-gray);
}
.action-btn:hover{
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
    cursor: pointer;
}
.heading {
    font-family: 'DM Serif Display', serif;
}
button.toggle-btn{
display: none;
}



section.landing{
    background: url('/images/bg-pattern-intro-left-desktop.svg') left center , url('/images/bg-pattern-intro-right-desktop.svg')  top right  var(--dark-violet-color);
    background-repeat: no-repeat;
    background-size: 8rem,15rem;
}
.first-row{
    display: flex;
    padding: 8% 8% 10% 8%;
    color: var(--light-gray);
}
.landing .dash{
    height: 2px;
    background-color: var(--light-gray);
    width: 30%;
    margin-bottom: 9%;
}
.landing h1{
        font-size: 4.2rem;
}
.landing p{
    margin-top: 9%;
    word-spacing: 0.1rem;
}
.landing .content{
    padding-right: 4%;
    max-width: 46%;
}
.landing-btn{
    border-color: var(--light-gray);
    color: var(--light-gray);
    background-color: var(--dark-violet-color);
    margin-left: 0;
    margin-top: 7%;
}
.landing-btn:hover{
    background-color: var(--light-gray);
    color: var(--dark-violet-color);
}
.landing .illustration{
    position: relative;
}
.landing .illustration .img-container{
    position: absolute;
    z-index: 1;
    background-image: url('/images/image-intro-desktop.jpg');
    height: 650px;
    width: 540px;
}

/* different section styles */

.different .dash {
    height: 2px;
    background-color: var(--grayish-blue);
    width: 15%;
    margin-bottom: 5%;
}
 section.different{
    padding: 21% 8% 3% 8%;
    background-color: white;
}
.different-heading{
    font-size: 3.2rem;
    color: var(--very-dark-violet);
}

.difference {
    display: flex;
    padding: 8% 0 ;
}
.reason {
    padding-right: 2%;
}
.reason:last-child{
    padding: 0;
}
.reason-heading{
    color: var(--very-dark-violet);
    font-size: 2.1rem;
}
.reason p {
    margin-top: 4%;
    color: var(--dark-grayish-violet);
}

/* Find out More section */
section.banner{
    background-color: var(--dark-violet-color);
    color: var(--light-gray);
    display: flex;
    margin: 0% 8% 0% 8% ;
    padding: 3% 3%;
    align-items: center;
    background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right -2%;
    background-size: contain;
}
.banner div {
    min-width: 50%;
}
.banner div:last-child{
    text-align: right;
}
.banner div  h1{
    font-size: 3.2rem;
}
.banner-btn {
    border: 1px solid var(--light-gray);
    background-color: transparent;
    color: var(--light-gray);
}
.banner-btn:hover{
    background-color: var(--light-gray);
    color: var(--dark-violet-color);
}
/* Footer */
.footer{
    margin-top: 8%;
    padding: 6% 8%;
    background-color: var(--light-gray);
    background-image: url('/images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
}
footer .branding {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
.branding ul{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.branding ul li {
    padding-right: 15px;
}
.branding ul li:last-child{
    padding: 0;
}
.branding ul li a:hover{
    cursor: pointer;
    color: var(--dark-violet-color);
}
.icon{
    width: 24px;
    height: 24px;
    background-size: contain;
    display: flex;
    background-repeat: no-repeat;
}
.icon:hover{
    filter: invert(13%) sepia(20%) saturate(421%) hue-rotate(227deg) brightness(88%) contrast(90%);
}
.icon-fb {
    background-image: url('/images/icon-facebook.svg');
}
.icon-twitter{
    background-image: url('/images/icon-twitter.svg');
    width: 28px;
    height: 28px;
}
.icon-pinterest{
    background-image: url('/images/icon-pinterest.svg');
}
.icon-instagram{
    background-image: url('/images/icon-instagram.svg');
}
footer hr {
    margin-bottom: 4%;
}
.helpful-links{
    display: flex;
}

footer .list {
    margin-right: auto;
}
footer .list h6 {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--dark-grayish-violet);
}
footer .links {
    list-style: none;
    padding: 0;
    margin-top: 28%;
}
.link-item {
    margin: 8% 0;
}
.helpful-links .link-item  a{
text-decoration: none;
color: var(--dark-violet-color);
text-transform: uppercase;
}
.helpful-links .link-item  a:hover{
    text-decoration: underline;
}


/* Mobile View */
@media screen and (max-width: 600px) {
    .collapse-items ul, .collapse-items button.action-btn {display: none;}
    .collapse-items button.toggle-btn {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
      .landing{
          text-align: center;
      }
    .landing .first-row{
        flex-direction: column-reverse;
        padding: 0;
    }    
    .landing .illustration  .img-container{
        position: relative;
        z-index: 0;
        background-image: url('/images/image-intro-mobile.jpg');
        height: 451px;
        width: 100%;
    }
    .landing  .first-row .dash{
        display: none;
    }
    .landing .content{
        max-width: unset;
        padding: 21% 3%;
    }

    .different .dash {
        margin: 8% auto;
        width: 32%;
    }
    .different-heading{
        font-size: 2.7rem;
    }
    .difference {
        flex-direction: column;
    }
    .difference .reason{
        margin-top: 18%;
    }
    
    section.banner{
        flex-direction: column;
        text-align: center;
        background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
    }
    .banner div h1{
        font-size: 2.8rem;
    }

  }